---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app.kubernetes.io/name: mariadb
    app.kubernetes.io/part-of: powerdns
    app.kubernetes.io/component: mariadb
  name: mariadb
spec:
  podManagementPolicy: OrderedReady
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/name: mariadb
      app.kubernetes.io/part-of: powerdns
      app.kubernetes.io/component: mariadb
  serviceName: mariadb
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mariadb
        app.kubernetes.io/part-of: powerdns
        app.kubernetes.io/component: mariadb
    spec:
      containers:
        - name: mariadb
          image: mariadb:11
          imagePullPolicy: Always
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mariadb-credentials
                  key: password
          volumeMounts:
            - name: mariadb-storage
              mountPath: /var/lib/mysql
            - name: mariadb-config
              mountPath: /etc/mysql/conf.d
          ports:
            - containerPort: 3306
          resources:
            limits:
              cpu: 300m
              memory: 256Mi
            requests:
              cpu: 300m
              memory: 256Mi
      volumes:
        - name: mariadb-config
          configMap:
            name: mariadb-config
            items:
              - key: mariadb-override.cnf
                path: mariadb-override.cnf
  volumeClaimTemplates:
    - metadata:
        labels:
          app.kubernetes.io/name: mariadb-storage
          app.kubernetes.io/part-of: powerdns
          app.kubernetes.io/component: mariadb
        name: mariadb-storage
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: mariadb
    app.kubernetes.io/part-of: powerdns
    app.kubernetes.io/component: mariadb
  name: mariadb
spec:
  ports:
    - name: tcp-mysql
      port: 3306
      protocol: TCP
      targetPort: 3306
  selector:
    app.kubernetes.io/name: mariadb
  type: ClusterIP
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: mariadb-config
    app.kubernetes.io/part-of: powerdns
    app.kubernetes.io/component: mariadb
  name: mariadb-config
data:
  mariadb-override.cnf: |
    [mysqld]
    collation-server = utf8mb4_unicode_ci
    init-connect='SET NAMES utf8mb4'
    character-set-server = utf8mb4
    innodb_buffer_pool_size = 134217728
    innodb_log_file_size = 134217728
    innodb-log-files-in-group = 3
    binlog_format = ROW
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: mariadb-credentials
    app.kubernetes.io/part-of: powerdns
    app.kubernetes.io/component: mariadb
  name: mariadb-credentials
data:
  username: "{{ powerdns_mariadb_username | b64encode }}"
  password: "{{ powerdns_mariadb_password | b64encode }}"
