---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: powerdns
    app.kubernetes.io/part-of: powerdns
    app.kubernetes.io/component: powerdns
  name: powerdns
spec:
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/name: powerdns
      app.kubernetes.io/part-of: powerdns
      app.kubernetes.io/component: powerdns
  template:
    metadata:
      labels:
        app.kubernetes.io/name: powerdns
        app.kubernetes.io/part-of: powerdns
        app.kubernetes.io/component: powerdns
    spec:
      containers:
        - name: powerdns
          image: pschiffe/pdns-mysql
          env:
            - name: PDNS_gmysql_host
              value: "mariadb"
            - name: PDNS_gmysql_port
              value: "3306"
            - name: PDNS_gmysql_user
              valueFrom:
                secretKeyRef:
                  name: mariadb-credentials
                  key: username
            - name: PDNS_gmysql_password
              valueFrom:
                secretKeyRef:
                  name: mariadb-credentials
                  key: password
            - name: PDNS_primary
              value: "yes"
            - name: PDNS_api
              value: "yes"
            - name: PDNS_api_key
              valueFrom:
                secretKeyRef:
                  name: powerdns-secret
                  key: api_key
            - name: PDNS_webserver
              value: "yes"
            - name: PDNS_webserver_address
              value: "0.0.0.0"
            - name: PDNS_webserver_allow_from
              value: "0.0.0.0/0"
            - name: PDNS_webserver_password
              valueFrom:
                secretKeyRef:
                  name: powerdns-secret
                  key: webserver_password
            - name: PDNS_default_ttl
              value: "1500"
          resources:
            limits:
              cpu: 500m
              memory: 256Mi
            requests:
              cpu: 500m
              memory: 256Mi
          ports:
            - name: powerdns-api
              containerPort: 8081
              protocol: TCP
            - name: powerdns-tcp
              containerPort: 53
              protocol: TCP
            - name: powerdns-udp
              containerPort: 53
              protocol: UDP
      terminationGracePeriodSeconds: 30
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: powerdns-secret
    app.kubernetes.io/part-of: powerdns
    app.kubernetes.io/component: powerdns
  name: powerdns-secret
data:
  api_key: "{{ powerdns_api_key | b64encode }}"
  webserver_password: "{{ powerdns_webserver_password | b64encode }}"
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: powerdns-api
    app.kubernetes.io/part-of: powerdns
    app.kubernetes.io/component: powerdns
  name: powerdns-api
spec:
  ports:
    - name: powerdns-api
      port: 8081
      protocol: TCP
      targetPort: powerdns-api
  selector:
    app.kubernetes.io/name: powerdns
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert.gardener.cloud/purpose: managed
    dns.gardener.cloud/class: garden
    dns.gardener.cloud/dnsnames: "*"
    dns.gardener.cloud/ttl: "180"
  labels:
    app.kubernetes.io/name: powerdns-api
    app.kubernetes.io/part-of: powerdns
    app.kubernetes.io/component: powerdns
  name: powerdns-api
spec:
  ingressClassName: nginx
  rules:
  - host: "{{ powerdns_api_dns_name }}"
    http:
      paths:
      - backend:
          service:
            name: powerdns-api
            port:
              name: powerdns-api
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - "{{ powerdns_api_dns_name }}"
    secretName: powerdns-api-tls-secret
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: powerdns
    app.kubernetes.io/part-of: powerdns
    app.kubernetes.io/component: powerdns
  name: powerdns
spec:
  ports:
    - name: powerdns-tcp
      port: 53
      protocol: TCP
      targetPort: powerdns-tcp
    - name: powerdns-udp
      port: 53
      protocol: UDP
      targetPort: powerdns-udp
  selector:
    app.kubernetes.io/name: powerdns
  type: ClusterIP
---
apiVersion: batch/v1
kind: Job
metadata:
  labels:
    app.kubernetes.io/name: powerdns
    app.kubernetes.io/part-of: powerdns
    app.kubernetes.io/component: powerdns-zone-initializer
  name: powerdns-zone-initializer
spec:
  template:
    spec:
      containers:
        - name: powerdns-zone-initializer
          image: curlimages/curl:latest
          command: ["/bin/sh", "-c"]
          args:
            - |
              curl -X POST \
                http://powerdns-api:8081/api/v1/servers/localhost/zones \
                -H "Content-Type: application/json" \
                -H "X-API-Key: $API_KEY" \
                -d '{"name": "{{ powerdns_zone_name }}","kind": "{{ powerdns_zone_kind }}", "nameservers": {{ powerdns_zone_nameservers | to_json }} }'
          env:
            - name: API_KEY
              valueFrom:
                secretKeyRef:
                  name: powerdns-secret
                  key: api_key
      restartPolicy: OnFailure
  backoffLimit: 10
