auto vrfInternet
iface vrfInternet
    vrf-table auto

auto vlanInternet
iface vlanInternet
    mtu 9000
    vlan-id 4009
    vlan-raw-device bridge
    vrf vrfInternet

auto vniInternet
iface vniInternet
    mtu 9000
    bridge-access 4009
    bridge-learning off
    mstpctl-bpduguard yes
    mstpctl-portbpdufilter yes
    vxlan-id 104009
    vxlan-local-tunnelip {{ lo }}
