# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet loopback
    address {{ lo }}/32

# The primary network interface
auto eth0
iface eth0 inet dhcp
    vrf mgmt

auto mgmt
iface mgmt
    address 127.0.0.1/8
    vrf-table auto

{% for iface in interfaces %}
auto {{ iface.name }}
iface {{ iface.name }}
    mtu {{ mtu.default }}
    bridge-access 4000

{% endfor %}
{% for iface in uplinks %}
auto {{ iface.name }}
iface {{ iface.name }}
    mtu {{ mtu.vxlan }}

{% endfor %}

auto bridge
iface bridge
    bridge-ports {% for iface in interfaces %}{{ iface.name }} {% endfor %}vni104000
    bridge-vids 4000
    bridge-vlan-aware yes

auto vlan4000
iface vlan4000
    mtu {{ mtu.default }}
    address {{ metal_core_cidr }}
    vlan-id 4000
    vlan-raw-device bridge

auto vni104000
iface vni104000
    mtu {{ mtu.default }}
    bridge-access 4000
    bridge-learning off
    mstpctl-bpduguard yes
    mstpctl-portbpdufilter yes
    vxlan-id 104000
    vxlan-local-tunnelip {{ lo }}

