---
- name: Deploy metal control plane
  include_role:
    name: ansible-common/roles/helm-chart
  vars:
    helm_chart_custom_folder: "{{ playbook_dir }}/roles/metal/files/metal-control-plane"
    helm_chart: "./metal-control-plane"
    helm_release_name: metal-control-plane
    helm_target_namespace: "{{ k8s_metal_namespace }}"
    helm_value_file_template: metal-values.j2
    # deployment can take a while due to post install hooks, therefore increasing the timeout for this chart...
    helm_timeout: 600s
    helm_chart_inject_config_hash: yes

- name: Patch tcp-services in ingress controller
  k8s_fits:
    api_version: v1
    kind: ConfigMap
    namespace: ingress-nginx
    name: tcp-services
    definition:
      data:
        4161: "{{ k8s_metal_namespace }}/{{ k8s_metal_namespace }}-nsq-lookupd:4161"
        4150: "{{ k8s_metal_namespace }}/{{ k8s_metal_namespace }}-nsqd:4150"
        5222: "{{ k8s_metal_namespace }}/{{ k8s_metal_namespace }}-console:10001"

- name: Patch udp-services in ingress controller
  k8s_fits:
    api_version: v1
    kind: ConfigMap
    namespace: ingress-nginx
    name: udp-services
    definition:
      data:
        5222: "{{ k8s_metal_namespace }}/{{ k8s_metal_namespace }}-console:10001"

- name: Expose tcp services in ingress controller
  k8s_fits:
    api_version: v1
    kind: Service
    namespace: ingress-nginx
    name: ingress-nginx
    definition:
      spec:
        ports:
        - name: http
          port: 80
          targetPort: http
        - name: https
          port: 443
          targetPort: https
        - name: nsq-lookupd
          port: 4161
          protocol: TCP
          targetPort: 4161
        - name: nsqd
          port: 4150
          protocol: TCP
          targetPort: 4150
        - name: metal-control-plane-console
          port: 5222
          protocol: TCP
          targetPort: 5222

# for automation tests, we need to wait until all the services are ready...
- name: Wait until api is available
  uri:
    url: "{{ metal_api_url}}/v1/health"
    follow_redirects: safe
    status_code: 200
    validate_certs: no
  register: result
  until: result is success
  retries: 60
  delay: 10
