.env
.idea
.kubeconfig
**/*.pyc
clab-mini-lab
.mini-lab.clab.yml
.mini-lab.cumulus.yml
.mini-lab.sonic.yml
ansible-common
metal-hammer*
requirements.yaml
.extra_vars.yaml
sonic-vs.img
*.bak
.ansible
files/certs/*.pem
files/certs/**/*.pem
files/certs/**/*.crt
.vscode
