---
version: '3.7'

services:
  control-plane:
    entrypoint:
      - /bin/bash
      - -ce
      - |
          ansible-playbook \
            -i inventories/control-plane.yaml \
            obtain_role_requirements.yaml
          ansible-galaxy install --ignore-errors -r requirements.yaml
          ansible-playbook \
            -i inventories/control-plane.yaml \
            -e @files/dev_images.yaml \
            deploy_control_plane.yaml

  partition:
    entrypoint:
      - /bin/bash
      - -ce
      - |
          ansible-playbook \
            -i inventories/control-plane.yaml \
            obtain_role_requirements.yaml
          ansible-galaxy install --ignore-errors -r requirements.yaml
          ansible-playbook \
            -i inventories/partition.yaml \
            -e @files/dev_images.yaml \
            deploy_partition.yaml
