---
version: '3.7'

services:
  control-plane:
    image: ghcr.io/metal-stack/metal-deployment-base:${DEPLOYMENT_BASE_IMAGE_TAG}
    container_name: deploy-control-plane
    volumes:
      - /var/run/libvirt/libvirt-sock:/var/run/libvirt/libvirt-sock
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/mini-lab
      # for developing role dependencies
      # TODO: make this a switch
      # - ${HOME}/.ansible/roles/ansible-common:/root/.ansible/roles/ansible-common:ro
      # - ${HOME}/.ansible/roles/metal-roles:/root/.ansible/roles/metal-roles:ro
      # - ${HOME}/.ansible/roles/metal-ansible-modules:/root/.ansible/roles/metal-ansible-modules:ro
      # - ${HOME}/git/github.com/metal-stack/helm-charts:/helm-charts:ro
    environment:
      - ANSIBLE_CONFIG=/mini-lab/ansible.cfg
      - KUBECONFIG=/mini-lab/.kubeconfig
      - K8S_AUTH_KUBECONFIG=/mini-lab/.kubeconfig
      - CI=${CI}
      - DOCKER_HUB_USER=${DOCKER_HUB_USER}
      - DOCKER_HUB_TOKEN=${DOCKER_HUB_TOKEN}
    network_mode: host
    working_dir: /mini-lab
    dns:
      - 172.17.0.1
      - 1.1.1.1
      - 1.0.0.1
    entrypoint:
      - /bin/bash
      - -ce
      - |
          ansible-playbook \
            -i inventories/control-plane.yaml \
            obtain_role_requirements.yaml
          ansible-galaxy install --ignore-errors -r requirements.yaml
          ansible-playbook \
            -i inventories/control-plane.yaml \
            deploy_control_plane.yaml --extra-vars "@.extra_vars.yaml"

  partition:
    image: ghcr.io/metal-stack/metal-deployment-base:${DEPLOYMENT_BASE_IMAGE_TAG}
    container_name: deploy-partition
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/mini-lab
      # for developing role dependencies
      # TODO: make this a switch
      # - ${HOME}/.ansible/roles/ansible-common:/root/.ansible/roles/ansible-common:ro
      # - ${HOME}/.ansible/roles/metal-roles:/root/.ansible/roles/metal-roles:ro
      # - ${HOME}/.ansible/roles/metal-ansible-modules:/root/.ansible/roles/metal-ansible-modules:ro
    environment:
      - ANSIBLE_CONFIG=/mini-lab/ansible.cfg
      - CI=${CI}
      - DOCKER_HUB_USER=${DOCKER_HUB_USER}
      - DOCKER_HUB_TOKEN=${DOCKER_HUB_TOKEN}
    network_mode: host
    working_dir: /mini-lab
    dns:
      - 172.17.0.1
      - 1.1.1.1
      - 1.0.0.1
    entrypoint:
      - /bin/bash
      - -ce
      - |
          ansible-playbook \
            -i inventories/control-plane.yaml \
            obtain_role_requirements.yaml
          ansible-galaxy install --ignore-errors -r requirements.yaml
          ansible-playbook \
            -i inventories/partition.yaml \
            -i clab-mini-lab/ansible-inventory.yml \
            deploy_partition.yaml --extra-vars "@.extra_vars.yaml"

  metalctl:
    image: ghcr.io/metal-stack/metalctl:${METALCTL_IMAGE_TAG}
    environment:
      - METALCTL_HMAC=metal-admin
      - METALCTL_URL=http://api.0.0.0.0.nip.io:8080/metal
    volumes:
      - ./files/ssh:/root/.ssh:ro
    network_mode: host
    dns:
      - 172.17.0.1
      - 1.1.1.1
      - 1.0.0.1
    command: --version
