{
  "INTERFACe": {
    "Ethernet0": {
      "mac_addr": "8e:ee:7c:58:82:00"
    },
    "Ethernet4": {
      "mac_addr": "8e:ee:7c:58:82:04"
    },
    "Ethernet8": {
      "mac_addr": "8e:ee:7c:58:82:08"
    },
    "Ethernet12": {
      "mac_addr": "8e:ee:7c:58:82:0c"
    },
    "Ethernet16": {
      "mac_addr": "8e:ee:7c:58:82:10"
    },
    "Ethernet20": {
      "mac_addr": "8e:ee:7c:58:82:14"
    },
    "Ethernet24": {
      "mac_addr": "8e:ee:7c:58:82:18"
    },
    "Ethernet28": {
      "mac_addr": "8e:ee:7c:58:82:1c"
    },
    "Ethernet32": {
      "mac_addr": "8e:ee:7c:58:82:20"
    },
    "Ethernet36": {
      "mac_addr": "8e:ee:7c:58:82:24"
    },
    "Ethernet40": {
      "mac_addr": "8e:ee:7c:58:82:28"
    },
    "Ethernet44": {
      "mac_addr": "8e:ee:7c:58:82:2c"
    },
    "Ethernet48": {
      "mac_addr": "8e:ee:7c:58:82:30"
    },
    "Ethernet52": {
      "mac_addr": "8e:ee:7c:58:82:34"
    },
    "Ethernet56": {
      "mac_addr": "8e:ee:7c:58:82:38"
    },
    "Ethernet60": {
      "mac_addr": "8e:ee:7c:58:82:3c"
    },
    "Ethernet64": {
      "mac_addr": "8e:ee:7c:58:82:40"
    },
    "Ethernet68": {
      "mac_addr": "8e:ee:7c:58:82:44"
    },
    "Ethernet72": {
      "mac_addr": "8e:ee:7c:58:82:48"
    },
    "Ethernet76": {
      "mac_addr": "8e:ee:7c:58:82:4c"
    },
    "Ethernet80": {
      "mac_addr": "8e:ee:7c:58:82:50"
    },
    "Ethernet84": {
      "mac_addr": "8e:ee:7c:58:82:54"
    },
    "Ethernet88": {
      "mac_addr": "8e:ee:7c:58:82:58"
    },
    "Ethernet92": {
      "mac_addr": "8e:ee:7c:58:82:5c"
    },
    "Ethernet96": {
      "mac_addr": "8e:ee:7c:58:82:60"
    },
    "Ethernet100": {
      "mac_addr": "8e:ee:7c:58:82:64"
    },
    "Ethernet104": {
      "mac_addr": "8e:ee:7c:58:82:68"
    },
    "Ethernet108": {
      "mac_addr": "8e:ee:7c:58:82:6c"
    },
    "Ethernet112": {
      "mac_addr": "8e:ee:7c:58:82:70"
    },
    "Ethernet116": {
      "mac_addr": "8e:ee:7c:58:82:74"
    },
    "Ethernet120": {
      "mac_addr": "8e:ee:7c:58:82:78"
    },
    "Ethernet124": {
      "mac_addr": "8e:ee:7c:58:82:7c"
    }
  },
  "PORT": {
    "Ethernet0": {
      "mtu": "{{ mtu.default }}"
    },
    "Ethernet4": {
      "mtu": "{{ mtu.default }}"
    }
  },
  "VLAN": {
    "Vlan4000": {
      "vlanid": "4000"
    }
  },
  "VLAN_INTERFACE": {
    "Vlan4000|{{ metal_core_cidr }}": {}
  },
  "VLAN_MEMBER": {
    "Vlan4000|Ethernet0": {
      "tagging_mode": "untagged"
    },
    "Vlan4000|Ethernet4": {
      "tagging_mode": "untagged"
    }
  },
  "VXLAN_TUNNEL": {
    "vtep": {
      "src_ip": "{{ lo }}"
    }
  },
  "VXLAN_TUNNEL_MAP": {
    "vtep|map_104000_Vlan4000": {
      "vlan": "Vlan4000",
      "vni": "104000"
    }
  }
}
