{
  "INTERFACE": {
    "Ethernet0": {
      "mac_addr": "8e:ee:7c:58:82:00"
    },
    "Ethernet4": {
      "mac_addr": "8e:ee:7c:58:82:04"
    },
    "Ethernet8": {
      "mac_addr": "8e:ee:7c:58:82:08"
    }
  },
  "PORT": {
    "Ethernet0": {
      "mtu": "{{ mtu.default }}"
    },
    "Ethernet4": {
      "mtu": "{{ mtu.default }}"
    }
  },
  "VLAN": {
    "Vlan4000": {
      "vlanid": "4000"
    }
  },
  "VLAN_INTERFACE": {
    "Vlan4000|{{ metal_core_cidr }}": {}
  },
  "VLAN_MEMBER": {
    "Vlan4000|Ethernet0": {
      "tagging_mode": "untagged"
    },
    "Vlan4000|Ethernet4": {
      "tagging_mode": "untagged"
    }
  },
  "VXLAN_TUNNEL": {
    "vtep": {
      "src_ip": "{{ lo }}"
    }
  },
  "VXLAN_TUNNEL_MAP": {
    "vtep|map_104000_Vlan4000": {
      "vlan": "Vlan4000",
      "vni": "104000"
    }
  }
}
