#jinja2: lstrip_blocks: "False", trim_blocks: "False"
---
LOOPBACK_INTERFACE:
  Loopback0: {}
  Loopback0|{{ lo }}/32: {}

VLAN:
  Vlan4000:
    vlanid: 4000

VLAN_INTERFACE:
  Vlan4000: {}
  Vlan4000|{{ metal_core_cidr }}: {}

VXLAN_EVPN_NVO:
  nvo:
    source_vtep: vtep

VXLAN_TUNNEL:
  vtep:
    src_ip: "{{ lo }}"
