---
ingress_public_dns: "{{ public_dns }}"

set_resource_limits: {{ metal_set_resource_limits }}

dev_setup: {{ dev_setup }}

provider_tenant: {{ provider_tenant }}

images:
  metal_api:
    image: "{{ metal_api_image_name }}"
    tag: "{{ metal_api_image_tag }}"
  metalctl:
    image: "{{ metalctl_image_name }}"
    tag: "{{ metalctl_image_tag }}"
  metal_console:
    image: "{{ metal_console_image_name }}"
    tag: "{{ metal_console_image_tag }}"

metal_console:
  replicas: "{{ metal_console_replicas }}"

metal_api:
  replicas: "{{ metal_api_replicas }}"
  base_path: "{{ metal_api_base_path }}"
  dex_address: "{{ dex.address }}"
  view_key: "{{ metal_api_view_key }}"
  edit_key: "{{ metal_api_edit_key }}"
  admin_key: "{{ metal_api_admin_key }}"
# let's create some multi-document YAMLs from our metal api masterdata def:
  sizes: |
{% for entity in metal_api_sizes %}
    ---
    {{ entity | to_nice_yaml | indent(width=4, first=false) }}
{% endfor %}
  images: |
{% for entity in metal_api_images %}
    ---
    {{ entity | to_nice_yaml | indent(width=4, first=false) }}
{% endfor %}
  partitions: |
{% for entity in metal_api_partitions %}
    ---
    {{ entity | to_nice_yaml | indent(width=4, first=false) }}
{% endfor %}
  networks: |
{% for entity in metal_api_networks %}
    ---
    {{ entity | to_nice_yaml | indent(width=4, first=false) }}
{% endfor %}
  ips: |
{% for entity in metal_api_ips %}
    ---
    {{ entity | to_nice_yaml | indent(width=4, first=false) }}
{% endfor %}

masterdata_api:
  tenants: |
{% for entity in masterdata_api_tenants %}
    ---
    {{ entity | to_nice_yaml | indent(width=4, first=false) }}
{% endfor %}
  server_key: "{{ lookup('file', 'certs/masterdata-api/' + environment_name + '/server-key.pem') | b64encode }}"
  server_cert: "{{ lookup('file', 'certs/masterdata-api/' + environment_name + '/server.pem') | b64encode }}"
  hmac: "{{ masterdata_api_hmac }}"
  projects: |
    ---
    # this is the project that can be used for metal-api master data
    # e.g. creating networks, reserve ips, ... with this project
    meta:
      id: 00000000-0000-0000-0000-000000000000
      kind: Project
      apiversion: v1
      version: 0
    name: metal-system
    description: Metal Master Project
    tenant_id: {{ provider_tenant }}
{% for entity in masterdata_api_projects %}
    ---
    {{ entity | to_nice_yaml | indent(width=4, first=false) }}

    tenant_id: {{ provider_tenant }}
{% endfor %}

mgmtservices: {{ mgmt_services | to_json }}

stage: "{{ environment_name }}"
postgres:
  backup:
    s3: {{ metal_api_ipam_postgres_backup | to_json }}

nsq:
  log_level: debug
  client_key: "{{ lookup('file', 'certs/nsq/' + environment_name + '/client_cert-key.pem') | b64encode }}"
  client_cert: "{{ lookup('file', 'certs/nsq/' + environment_name + '/client.pem') | b64encode }}"
  ca_cert: "{{ lookup('file', 'certs/nsq/' + environment_name + '/ca_cert.pem') | b64encode }}"

ingress: {{ metal_api_ingress | to_json }}
