---
metal_partition_timezone: Europe/Berlin
metal_partition_id: mini-lab

metal_partition_metal_api_protocol: http
metal_partition_metal_ip: "{{ metal_control_plane_ip }}"
metal_partition_metal_api_addr: api.{{ metal_control_plane_ingress_dns }}
metal_partition_metal_api_port: 8080
metal_partition_metal_api_basepath: /metal/
metal_partition_metal_api_hmac_edit_key: metal-edit
metal_partition_metal_api_hmac_view_key: metal-view

metal_partition_metal_api_grpc_address: "{{ metal_partition_mgmt_gateway }}:50051"
metal_partition_metal_api_grpc_ca_cert: "{{ lookup('file', 'certs/ca.pem') }}"
metal_partition_metal_api_grpc_client_cert: "{{ lookup('file', 'certs/grpc/client.pem') }}"
metal_partition_metal_api_grpc_client_key: "{{ lookup('file', 'certs/grpc/client-key.pem') }}"

metal_partition_mgmt_gateway: 172.17.0.1
