{
  "iptables": false,
	"ip-forward": false,
	"ip-masq": false,
{% if fluentd_logging %}
  "log-driver": "fluentd",
  "log-opts": {
       "fluentd-address": "{{ fluentd_endpoint }}",
       "tag": "{{ inventory_hostname }}"
     }
{% else %}
  "log-driver": "syslog"
{% endif %}
}
