---
tenant:
  # Tenant name
  name: metal-stack

  certificate:
    requestAutoCert: false

  configuration:
    name: mini-lab

  configSecret:
    name: mini-lab
    accessKey: {{ minio_root_user }}
    secretKey: {{ minio_root_password }}

  pools:
    - servers: 1
      name: pool-0
      volumesPerServer: 1
      size: 2Gi

  buckets:
   - name: mini-lab
   - name: gardener-operator

extraResources:
 - |
    apiVersion: gateway.networking.k8s.io/v1
    kind: HTTPRoute
    metadata:
      name: minio-tenant
      namespace: minio-tenant
    spec:
      parentRefs:
      - name: metal-control-plane
        namespace: {{ metal_control_plane_namespace }}
        sectionName: http
      hostnames:
      - {{ minio_dns_name }}
      rules:
      - matches:
        - path:
            type: PathPrefix
            value: /
        backendRefs:
        - name: minio
          port: 80
