default-lease-time 600;
max-lease-time 600;

log-facility local7;

subnet {{ dhcp_server_net }} netmask 255.255.255.0 {
    range {{ dhcp_range_min }} {{ dhcp_range_max }};
    # Provide routers to set up default gateway for clients.
    option routers {{ dhcp_server_ip }};
    option domain-name-servers {{ groups['mgmt_servers'] | map('extract', hostvars, ['switch_mgmt_ip']) | sort | join(', ') if 'mgmt_servers' in groups else dhcp_public_dns_servers_fallback | join(', ') }};
}
