---
- name: Deploy Zitadel
  kubernetes.core.helm:
    name: zitadel
    chart_ref: zitadel
    chart_version: "{{ zitadel_chart_version }}"
    chart_repo_url: https://charts.zitadel.com/
    release_namespace: "{{ metal_control_plane_namespace }}"
    create_namespace: true
    values: "{{ lookup('template', 'values.yaml.j2') | from_yaml }}"
    wait: true

- name: Create init job
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'zitadel-init.yaml') }}"
    namespace: "{{ metal_control_plane_namespace }}"