---
- name: Install frr-pythontools
  ansible.builtin.import_tasks: frr-reload.yaml

- name: Fix Network Performance
  ansible.builtin.import_tasks: fix-network-performance.yaml

- name: Set lldp tx-interval to 10
  ansible.builtin.command: lldpcli configure lldp tx-interval 10
  retries: 10
  delay: 3
  register: result
  until: result.rc == 0

- name: Activate IP MASQUERADE on eth0
  ansible.builtin.iptables:
    chain: POSTROUTING
    jump: MASQUERADE
    out_interface: eth0
    table: nat

- name: Activate ipv4 forwarding on eth0
  ansible.posix.sysctl:
    name: net.ipv4.conf.eth0.forwarding
    reload: no
    sysctl_set: yes
    value: "1"

# We need to fill some values for the sonic-exporter (uses the STATE_DB)
- name: Mock sonic platform for kvm
  ansible.builtin.import_tasks: mock-platform.yaml
