[Unit]
Description=Load file %I into database

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sonic-cfggen --json %I --write-to-db
StandardOutput=journal

[Install]
WantedBy=multi-user.target
