[Unit]
Description=Trigger a validation of a network interfaces file %I

[Service]
Type=oneshot
ExecStart=/sbin/ifup --syntax-check --verbose --all --interfaces %I
StandardOutput=journal

[Install]
WantedBy=multi-user.target
