[Unit]
Description=Stub for SONiC syncd.service
PartOf=sonic.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true

[Install]
WantedBy=sonic.target
