name: Integration tests

on:
  push:
    branches:
      - master

jobs:
  test:
    name: Integration tests
    runs-on: self-hosted
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Run integration tests
      shell: bash
      run: |
        make ci-prep
        ./test.sh
    - uses: release-drafter/release-drafter@v5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
