name: Integration tests for PR

on:
  pull_requests:
    branches:
      - master

jobs:
  test:
    name: Integration tests for PR
    runs-on: self-hosted
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Run integration tests
      shell: bash
      run: ./test.sh
